.node-red/.flows_raspberrypi.json.backup
[{"id":"c29039fe.078618","type":"tab","label":"Flow 1"},{"id":"17aa1a76.149876","type":"inject","z":"c29039fe.078618","name":"Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147,"y":560,"wires":[["43986be9.e5a864"]]},{"id":"52f423f2.13da2c","type":"debug","z":"c29039fe.078618","name":"ViewOutput","active":true,"console":"false","complete":"payload","x":396,"y":522,"wires":[]},{"id":"43986be9.e5a864","type":"function","z":"c29039fe.078618","name":"","func":"var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":635,"wires":[["6f797afe.9cf1a4"]]},{"id":"6f797afe.9cf1a4","type":"sentiment","z":"c29039fe.078618","name":"","x":388,"y":636,"wires":[["52f423f2.13da2c","b40e9b34.1ed518"]]},{"id":"b40e9b34.1ed518","type":"rpi-sensehat out","z":"c29039fe.078618","name":"Time Display","x":594,"y":648,"wires":[]},{"id":"65280fc8.1d34a","type":"ping","z":"c29039fe.078618","name":"myNetwork","host":"oramous.mynetgear.com","timer":"55","x":357,"y":742,"wires":[["b40e9b34.1ed518"]]}]