.node-red/flows_raspberrypi.json
[{"id":"c29039fe.078618","type":"tab","label":"Flow 1"},{"id":"fb92f6a8.656c68","type":"tab","label":"Flow 2"},{"id":"17aa1a76.149876","type":"inject","z":"c29039fe.078618","name":"Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147,"y":560,"wires":[["43986be9.e5a864"]]},{"id":"52f423f2.13da2c","type":"debug","z":"c29039fe.078618","name":"ViewOutput","active":true,"console":"false","complete":"payload","x":396,"y":522,"wires":[]},{"id":"43986be9.e5a864","type":"function","z":"c29039fe.078618","name":"","func":"var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":635,"wires":[["6f797afe.9cf1a4"]]},{"id":"6f797afe.9cf1a4","type":"sentiment","z":"c29039fe.078618","name":"","x":388,"y":636,"wires":[["52f423f2.13da2c","b40e9b34.1ed518"]]},{"id":"b40e9b34.1ed518","type":"rpi-sensehat out","z":"c29039fe.078618","name":"Time Display","x":594,"y":648,"wires":[]},{"id":"65280fc8.1d34a","type":"ping","z":"c29039fe.078618","name":"myNetwork","host":"oramous.mynetgear.com","timer":"55","x":357,"y":742,"wires":[["b40e9b34.1ed518"]]},{"id":"cb46dd8e.3b40e","type":"inject","z":"fb92f6a8.656c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":90,"y":215,"wires":[["6b879691.813ae8"]]},{"id":"8ccc52e2.085d9","type":"function","z":"fb92f6a8.656c68","name":"","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n\n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\nreturn null;","outputs":"2","noerr":0,"x":271,"y":248,"wires":[["d8b35289.2adaf"],["2ed61425.d6ad1c"]]},{"id":"2ed61425.d6ad1c","type":"debug","z":"fb92f6a8.656c68","name":"","active":true,"console":"false","complete":"false","x":372.5,"y":337,"wires":[]},{"id":"d8b35289.2adaf","type":"debug","z":"fb92f6a8.656c68","name":"","active":true,"console":"false","complete":"false","x":372.5,"y":188,"wires":[]},{"id":"6b879691.813ae8","type":"http request","z":"fb92f6a8.656c68","name":"National Grid","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":159,"y":310,"wires":[["8ccc52e2.085d9"]]}]